data/wiki/enwiki-latest-all-titles-in-ns0


# Ignore VSCode settings
.vscode/

# Ignore compiled Python files and caches
__pycache__/
*.pyc

# Ignore large Google N-Gram CSV
data/googlebooks-eng-us-all-5gram-20090715-0.csv


clue_solving/n_gram_common_phrases.py
all_tokens_dict.pkl

all clues predicted.csv
data/clue_classification_ml_pipeline/all_clues_predicted.csv
data/puzzle_samples/solved_clues_batches/solved_clues_10.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_15.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_20.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_25.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_30.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_35.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_40.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_45.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_5.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_50.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_55.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_60.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_65.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_70.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_75.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_80.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_85.xlsx
data/puzzle_samples/solved_clues_batches/~$solved_clues_75.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_95.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_75_formulas.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_230.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_225.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_220.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_215.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_210.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_205.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_200.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_195.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_190.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_185.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_180.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_175.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_170.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_165.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_160.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_155.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_150.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_145.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_140.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_135.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_130.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_125.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_120.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_115.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_110.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_105.xlsx
data/puzzle_samples/solved_clues_batches/solved_clues_100.xlsx
